In [60]:
import bql
import pandas as pd 
bq = bql.Service()

#-------------------#
#  Object oriented  #
#-------------------#

item_1 = bq.data.px_last(dates=bq.func.range('-5D', '0D'))
item_2 = bq.data.px_open(dates=bq.func.range('-5D', '0D'))
items = [item_1, item_2]
univ = ['FB US Equity', 'IBM US Equity']
request = bql.Request(univ, items)
response = bq.execute(request)
df = response[0].df()
df

                    DATE CURRENCY  PX_LAST(dates=RANGE(-5D,0D))
ID
FB US Equity  2020-08-12      USD                    259.890000
FB US Equity  2020-08-13      USD                    261.300000
FB US Equity  2020-08-14      USD                    261.240000
FB US Equity  2020-08-15      USD                           NaN
FB US Equity  2020-08-16      USD                           NaN
FB US Equity  2020-08-17      USD                    261.109985
IBM US Equity 2020-08-12      USD                    126.700000
IBM US Equity 2020-08-13      USD                    125.030000
IBM US Equity 2020-08-14      USD                    125.270000
IBM US Equity 2020-08-15      USD                           NaN
IBM US Equity 2020-08-16      USD                           NaN
IBM US Equity 2020-08-17      USD                    124.504997

In [61]:
# Example 2:
date_range = bq.func.range('2020-01-01', '2020-08-17')
item_1 = bq.data.px_last(dates=date_range)
item_2 = bq.data.px_open(dates=date_range)
items = [item_1, item_2]
univ = ['FB US Equity', 'TSLA US Equity']
request = bql.Request(univ, items)
response = bq.execute(request)
df = bql.combined_df(response)
df.tail(10)

,DATE,CURRENCY,"PX_LAST(dates=RANGE(2020-01-01,2020-08-17))","PX_OPEN(dates=RANGE(2020-01-01,2020-08-17))"
ID,,,,
TSLA US Equity,2020-08-08,USD,NaN,NaN
TSLA US Equity,2020-08-09,USD,NaN,NaN
TSLA US Equity,2020-08-10,USD,1418.570000,1448.00
TSLA US Equity,2020-08-11,USD,1374.390000,1396.00
TSLA US Equity,2020-08-12,USD,1554.760000,1470.00
TSLA US Equity,2020-08-13,USD,1621.000000,1611.00
TSLA US Equity,2020-08-14,USD,1650.710000,1664.99
TSLA US Equity,2020-08-15,USD,NaN,NaN
TSLA US Equity,2020-08-16,USD,NaN,NaN
TSLA US Equity,2020-08-17,USD,1811.105957,1677.00

In [62]:
# Data wrangling:
# PX_Last DataFrame

df.dropna(inplace=True, axis=0)
df = df.reset_index()
df.columns = ['ID', 'Date', 'Currency', 'PX_Last', 'PX_Open']
df_px_last = df.pivot('Date', 'ID', 'PX_Last')
df_px_open = df.pivot('Date', 'ID', 'PX_Open')
df = pd.concat([df_px_open, df_px_last], axis=1)
df.columns = ['FB US Equity - PX_Open',
              'TSLA US Equity - PX_Open',
              'FB US Equity	- PX_Close',
              'TSLA US Equity- PX_Close']
df.tail(10)

,FB US Equity - PX_Open,TSLA US Equity - PX_Open,FB US Equity\t- PX_Close,TSLA US Equity- PX_Close
Date,,,,
2020-08-04,251.560,1495.010,249.830000,1487.000000
2020-08-05,250.190,1492.990,249.120000,1485.020000
2020-08-06,249.040,1490.830,265.280000,1489.580000
2020-08-07,264.080,1499.536,268.440000,1452.710000
2020-08-10,268.040,1448.000,263.000000,1418.570000
2020-08-11,260.185,1396.000,256.130000,1374.390000
2020-08-12,258.970,1470.000,259.890000,1554.760000
2020-08-13,261.550,1611.000,261.300000,1621.000000
2020-08-14,262.305,1664.990,261.240000,1650.710000
2020-08-17,262.500,1677.000,261.100006,1811.105957