In [13]:
# Parameters: Date manipulation (get ()):

# (1) Period referece: e.g fa_period_reference = '2014'

# (2) Period type: e.g fa_period_type = 'A' 
# Annually/Yearly (A), Monthly (M), Daily (D)

# (3) Period offset: e.g fa_period_offset = bq.func.range[-1, 2] 
# offsetting chosen window by -1 periods and + 2 periods

# (4) Upper limit on revsion date: e.g as_of_date = 2020_02_24

In [14]:
# BQL Object Model:

import bql
bq = bql.Service()

bql_item = bq.data.sales_growth(fa_period_type='A', fa_period_reference='2015-01-01', fa_period_offset=bq.func.range(-5, 0))

bql_universe = 'IBM US Equity'

bql_request = bql.Request(bql_universe, bql_item)
bql_response = bq.execute(bql_request)
print(bql_response)

<bql.request.response.Response object at 0x000001E680EEAAC8>

In [15]:
# Building DataFrame from Response Object:

import pandas as pd 

df_main = bql_response[0].df()
df_main.info()
df_main.head()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, IBM US Equity to IBM US Equity
Data columns (total 4 columns):
REVISION_DATE                                                                                                  6 non-null datetime64[ns]
PERIOD_END_DATE                                                                                                6 non-null datetime64[ns]
AS_OF_DATE                                                                                                     6 non-null datetime64[ns]
SALES_GROWTH(fa_period_type=FA_PERIOD_TYPE.A,fa_period_offset=RANGE(-5,0),fa_period_reference='2015-01-01')    6 non-null float64
dtypes: datetime64[ns](3), float64(1)
memory usage: 240.0+ bytes

,REVISION_DATE,PERIOD_END_DATE,AS_OF_DATE,"SALES_GROWTH(fa_period_type=FA_PERIOD_TYPE.A,fa_period_offset=RANGE(-5,0),fa_period_reference='2015-01-01')"
ID,,,,
IBM US Equity,2012-02-28,2009-12-31,2020-08-05,-7.596256
IBM US Equity,2013-02-26,2010-12-31,2020-08-05,4.294158
IBM US Equity,2014-02-25,2011-12-31,2020-08-05,7.055172
IBM US Equity,2015-02-24,2012-12-31,2020-08-05,-3.780538
IBM US Equity,2015-02-24,2013-12-31,2020-08-05,-4.381088

In [16]:
# Building final DataFrame:

df_main.reset_index(inplace=True)
df_main.columns = ['ID', 'Revision_Date','Period_End_Date','As_of_Date', 'Sales_Growth']
df_main.head()

              ID Revision_Date Period_End_Date As_of_Date  Sales_Growth
0  IBM US Equity    2012-02-28      2009-12-31 2020-08-05     -7.596256
1  IBM US Equity    2013-02-26      2010-12-31 2020-08-05      4.294158
2  IBM US Equity    2014-02-25      2011-12-31 2020-08-05      7.055172
3  IBM US Equity    2015-02-24      2012-12-31 2020-08-05     -3.780538
4  IBM US Equity    2015-02-24      2013-12-31 2020-08-05     -4.381088