In [74]:
import bql

# Example 1:
# Last Price in SPX + price filters ... 

# Instantiating
bq = bql.Service()

# Data items ('get'):
item_1 = bq.data.px_last()

# ('for'):
univ = bq.univ.members('SPX Index')

# ('if'):
f_1 = bq.data.px_last() > 150
f_2 = bq.data.px_open() > 100
F = bq.func.and_(f_1, f_2)
filter_i = bq.univ.filter(univ, F)

# Fetching data:
request = bql.Request(filter_i, item_1)
response = bq.execute(request)

# Combining Dataframes ... 
df_main = response[0].df()

# or ...

df_main = bql.combined_df(response)
df_main.head()

                     DATE CURRENCY   PX_LAST()
ID
AVGO UW Equity 2020-08-20      USD  328.929993
BA UN Equity   2020-08-20      USD  170.139999
FLT UN Equity  2020-08-20      USD  241.839996
HD UN Equity   2020-08-20      USD  281.390015
JNJ UN Equity  2020-08-20      USD  150.990005

In [75]:
# Example 2:
# IBM Equity bonds + filters ...

# Data item:
item_1 = bq.data.id()

# Universe:
univ = bq.univ.bonds('IBM US Equity')

# Filters/Criteria:
f_1 = bq.data.cpn() > 1
f_2 = bq.data.yield_() > 1
F = bq.func.and_(f_1, f_2)

# Filtered universe:
F_univ = bq.univ.filter(univ, F)

# Fetching data:
request = bql.Request(F_univ, item_1)
response = bq.execute(request)

# Combining DataFrames:
df_main = bql.combined_df(response)

# Viewing DataFrame:
df_main.head()

                    ORIG_IDS           ID()
ID
BJ226366 Corp  IBM US Equity  BJ226366 Corp
ZS542668 Corp  IBM US Equity  ZS542668 Corp
BJ226365 Corp  IBM US Equity  BJ226365 Corp
BJ226369 Corp  IBM US Equity  BJ226369 Corp
ZS542665 Corp  IBM US Equity  ZS542665 Corp

In [76]:
# Example 3:
# Last Price + members + sector

# BQL String:
# FILTER(MEMBERS('SPX Index'), 
# IN(EQY_FUND_IND,['Financial','Bank', 'Insurance']))

# BQL Object Model:

bql_item = bq.data.px_last()
bql_universe = bq.univ.filter(bq.univ.members('SPX Index'), bq.func.in_(bq.data.eqy_fund_ind(), ['Financial', 'Bank', 'Insurance']))
bql_request = bql.Request(bql_universe, bql_item)
bql_response = bq.execute(bql_request)
df_main = bql.combined_df(bql_response)
df_main.head()

                    DATE CURRENCY   PX_LAST()
ID
AXP UN Equity 2020-08-20      USD   97.339996
JPM UN Equity 2020-08-20      USD   97.470001
BAC UN Equity 2020-08-20      USD   25.170000
TRV UN Equity 2020-08-20      USD  112.820000
C UN Equity   2020-08-20      USD   49.590000

In [77]:
# Example 3 (breakdown):

# Data item:
bql_item = bq.data.px_last()

# Universe:
univ = bq.univ.members('SPX Index')
f_1 = bq.func.in_(bq.data.eqy_fund_ind(), ['Financial', 'Bank', 'Insurance'])

# Filtered universe:
univ_F = bq.univ.filter(univ, f_1)

# Fetcing data:
bql_request = bql.Request(univ_F, bql_item)
bql_response = bq.execute(bql_request)
df_main = bql.combined_df(bql_response)
df_main.head()

                    DATE CURRENCY   PX_LAST()
ID
AXP UN Equity 2020-08-20      USD   97.339996
JPM UN Equity 2020-08-20      USD   97.459999
BAC UN Equity 2020-08-20      USD   25.170000
TRV UN Equity 2020-08-20      USD  112.820000
C UN Equity   2020-08-20      USD   49.590000