In [10]:
import bql
import bqviz as bqv
import pandas as pd

bq = bql.Service()

#
bq = bql.Service()

params_dict = {"dates": "range(2019-12-01, 2019-12-31)",
               "currency": "usd",
               "fill": "prev"}

date_range = bq.func.range('2019-12-01', '2019-12-31')

# Data items:
px_open = bq.data.px_open(**params_dict)
px_last = bq.data.px_last(**params_dict)
px_high = bq.data.px_high(**params_dict)
px_low = bq.data.px_low(**params_dict)
interval = px_high - px_low

items_dict = {'Open': px_open,
              'Last': px_last, 
              'High': px_high,
              'Low': px_low}

# Universe:
bql_universe = 'IBM US Equity'
request = bql.Request(bql_universe, items_dict)
response = bq.execute(request)
df_main = bql.combined_df(response)
df_main.head()

                    DATE CURRENCY    Open    Last    High       Low
ID
IBM US Equity 2019-12-01      USD  133.60  134.45  134.52  133.0300
IBM US Equity 2019-12-02      USD  134.45  132.91  134.50  132.4800
IBM US Equity 2019-12-03      USD  132.00  132.12  132.44  130.6890
IBM US Equity 2019-12-04      USD  132.86  131.99  133.68  131.9600
IBM US Equity 2019-12-05      USD  132.99  131.91  133.24  131.6264

In [11]:
# Data wrangling:
df_main.reset_index(inplace=True)
df_main.dropna(axis=0, inplace=True)
df_main.set_index('DATE', inplace=True)
df_main.head()

cols = ['Open', 'Last', 'High', 'Low']
df_ibm = df_main[cols]
df_ibm.head()

              Open    Last    High       Low
DATE
2019-12-01  133.60  134.45  134.52  133.0300
2019-12-02  134.45  132.91  134.50  132.4800
2019-12-03  132.00  132.12  132.44  130.6890
2019-12-04  132.86  131.99  133.68  131.9600
2019-12-05  132.99  131.91  133.24  131.6264

In [12]:
# Plotting using BQVIZ:

lines = bqv.LinePlot(df_ibm).set_style()
lines.show()

GridBox(children=(Figure(animation_duration=500, axes=[Axis(color='white', grid_color='#3c3c3c', grid_lines='d…

In [13]:
# Plotting barplots:
bars = bqv.BarPlot(df_ibm).set_style()
bars.show()

GridBox(children=(Figure(animation_duration=500, axes=[Axis(color='white', grid_color='#3c3c3c', grid_lines='d…

In [14]:
# Plotting KDE:
kde = bqv.KDEPlot(df_ibm, bandwidth=0.05).set_style()
kde.show()

GridBox(children=(Figure(animation_duration=500, axes=[Axis(color='white', grid_color='#3c3c3c', grid_lines='d…

In [15]:
# Plotting Histogram:
hist = bqv.HistPlot(df_ibm, bins=20)
hist.show()

HBox(children=(VBox(children=(Figure(animation_duration=500, axes=[Axis(scale=LinearScale()), Axis(label_offse…

In [16]:
# Creating multiple plots:

grid = [bqv.LinePlot, bqv.BarPlot, bqv.KDEPlot, bqv.HistPlot]
fig = bqv.GridPlot(df_ibm, plots=grid)
fig.show()

HBox(children=(VBox(children=(GridBox(children=(Figure(animation_duration=500, axes=[Axis(scale=DateScale()), …

In [17]:
# Universe:
bql_universe = 'MSFT US Equity'
request = bql.Request(bql_universe, items_dict)
response = bq.execute(request)
df_msft = bql.combined_df(response)
df_msft.dropna(axis=0, inplace=True)
df_msft.drop('CURRENCY', axis=1, inplace=True)
df_msft.set_index('DATE', inplace=True)
df_msft.head()

              Open    Last      High     Low
DATE
2019-12-01  152.10  151.38  152.3000  151.28
2019-12-02  151.81  149.55  151.8300  148.32
2019-12-03  147.49  149.31  149.4300  146.65
2019-12-04  150.14  149.85  150.1799  149.20
2019-12-05  150.05  149.93  150.3200  149.48

In [18]:
# Multi Comparison Plot:
multi = bqv.MultiComparisonPlot(df_ibm, df_msft)
multi.show()

VBox(children=(GridBox(children=(Figure(animation_duration=500, axes=[Axis(scale=DateScale()), Axis(label_offs…